/******* GÉNÉRAL *******/

::-moz-selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}
::selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: var(--bg);
    &.no-scroll {
        position: fixed;
        left: 0;
        right: 0;
    }
}

body {
    font: 1.6em / 1.63 $plex-sans;
    color: $white;
    font-kerning: normal;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wysiwyg h1,
.h1 {
    font-size: 4.4rem;
    line-height: 50px;
    font-weight: 300;
    margin: 0 0 40px;
}

.wysiwyg h2,
.h2 {
    font-size: 3.4rem;
    line-height: 30px;
    font-weight: 300;
    margin: 100px 0 40px;
}

.wysiwyg h3,
.h3 {
    font-size: 2.2rem;
    line-height: 28px;
    font-weight: 400;
    margin: 40px 0 20px;
}

.wysiwyg h4,
.h4 {
    font-size: 1.8rem;
    line-height: 26px;
    font-weight: 400;
    margin: 20px 0 10px;
}

.wysiwyg h5,
.h5,
.wysiwyg h6,
.h6 {
    font-size: 1.5rem;
    line-height: 21px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.wysiwyg ul {
    margin: 40px 0;
    padding: 0;
    li {
        position: relative;
        margin: 5px 0;
        padding: 0 0 0 15px;
        &::before {
            content: '';
            position: absolute;
            top: 0.5em;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $black;
        }
    }
}

.wysiwyg ol {
    margin: 40px 0;
    padding: 0;
    li {
        position: relative;
        margin: 5px 0;
        padding: 0 0 0 25px;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            color: $black;
        }
    }
}

.wysiwyg img {
    margin: 40px auto;
}

.wysiwyg a {
    font-weight: 500;
}

.basic-h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 50px;
    margin: 0 0 30px;
    p {
        line-height: 1;
    }
    strong {
        font-weight: 300;
    }
}

.basic-h2 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 30px;
    strong {
        font-weight: 300;
    }
}

.basic-h3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 30px;
    p {
        line-height: 1;
    }
    strong {
        font-weight: 300;
    }
}

.basic-h4 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 35px;
}

.basic-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 20px;
}

p {
    margin: 10px 0;
    line-height: 26px;
}

strong {
    font-weight: 500;
}

blockquote {
    margin: 40px 0;
    padding: 0 0 0 20px;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 28px;
    font-style: italic;
    border-left: 1px solid currentColor;
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
}
ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &::before {
            content: counter(ol-counter) '.';
        }
    }
    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

// COMBAK: Remove if not used
dt,
dd {
    display: inline;
    margin: 0;
}
dt {
    &::after {
        content: ': ';
    }
}
dd {
    + dt {
        &::before {
            content: '\A';
            white-space: pre;
        }
    }
    + dd {
        &::before {
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
}

// COMBAK: Remove if not used
code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

// COMBAK: Remove if not used
hr {
    position: relative;
    width: 5px;
    height: 5px;
    border: 0;
    margin: 100px auto;
    border-radius: 50%;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }
    &::before {
        left: -20px;
    }
    &::after {
        right: -20px;
    }
}

/******* LIENS / BOUTONS *******/

a {
    color: inherit;
}

/******* CLASSES GENERALES  *******/

.clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.no-transition {
    transition: none !important;
    &::after,
    &::before {
        transition: none !important;
    }
}

.visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
    margin: -1px !important;
    overflow: hidden !important;
}

.page-enter,
.page-leave-to {
    .loading-overlay {
        opacity: 1 !important;
    }
}

.layout-enter-active,
.layout-leave-active {
    transition: opacity 0.4s;
}

.layout-enter,
.layout-leave-to {
    .loading-overlay.layout-overlay {
        opacity: 1 !important;
    }
}

@media (min-width: $phone) {
    body {
        font-size: #{$text-size-desktop * 0.1}rem;
    }
    .wysiwyg h1,
    .h1 {
        font-size: 4rem;
    }
    .wysiwyg h2,
    .h2 {
        font-size: 3.2rem;
    }
    .wysiwyg h3,
    .h3 {
        font-size: 2.8rem;
    }
    .wysiwyg h4,
    .h4 {
        font-size: 2.2rem;
    }
    .wysiwyg h5,
    .h5 {
        font-size: 2rem;
    }
    .wysiwyg h6,
    .h6 {
        font-size: 1.8rem;
    }
}

@media (min-width: $desktop-small) {
    .wysiwyg img {
        width: percentage(math.div(8, 6));
        max-width: none;
        margin-left: -#{percentage(math.div(1, 6))};
    }
    .basic-h1 {
        font-size: 6.8rem;
        line-height: 70px;
        margin-bottom: 40px;
    }
    .basic-h2 {
        font-size: 5.2rem;
        line-height: 62px;
        margin-bottom: 40px;
    }
    .basic-h3 {
        font-size: 4.4rem;
        line-height: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: $desktop) {
    .wysiwyg img {
        width: percentage(math.div(10, 8));
        margin-left: -#{percentage(math.div(1, 8))};
    }
}

@media (min-width: $desktop-large) {
    .wysiwyg img {
        width: percentage(math.div(8, 6));
        margin-left: -#{percentage(math.div(1, 6))};
    }
}
